/*
 *= require_tree .
 *= require social-share-button
 *= require_self
 */

.social-share-button-facebook {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("/social/facebook.png") no-repeat;
}
